.business-list {
  flex-basis: 35%;
  overflow-y: scroll;
}

.cat-container {
}

.cat__title {
  margin-bottom: 0.3em;
}

.cat__item {
  display: flex;
  gap: 0.6em;
  margin-bottom: 1em;
  align-items: flex-start;
}

.cat__img {
  object-fit: cover;
  border-radius: 10px;
  width: 90px;
  height: 70px;
  flex-shrink: 0;
}

.cat__text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: left;
}

.cat__text-title {
  font-weight: 800;
}

.cat__text-desc {
  font-size: 0.8rem;
}
