.leaflet-container {
  /* height: 400px; */
  flex-grow: 1;
  border-radius: 10px;
}

.leaflet-popup {
  min-width: 30em;
}
.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.leaflet-popup-content p {
  margin: 0;
}

.popup__img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.popup__btn {
  color: #fff !important;
}

.open {
  color: green;
}

.closed {
  color: red;
}
